
/**************************************************/

article h3.subsection-title {
	border-top: 5px solid gray;
	padding-top: 0.5em;
	margin-top: 1em;
}

article h4.name {
	border-top: 3px double gray;
	background: lavender;
	padding: 0.5em 0em 0.5em 1em;
	margin-top: 1em;
}

article h4.name span.type-signature {
	display: none;
}

code{
	color: #f5871f;
}
